<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>jBookStall</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Registration</description>
    <display-name>reg</display-name>
    <servlet-name>reg</servlet-name>
    <servlet-class>java.reg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reg</servlet-name>
    <url-pattern>/reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Login</description>
    <display-name>NewLogin</display-name>
    <servlet-name>NewLogin</servlet-name>
    <servlet-class>NewLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewLogin</servlet-name>
    <url-pattern>/NewLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewReg</display-name>
    <servlet-name>NewReg</servlet-name>
    <servlet-class>NewReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewReg</servlet-name>
    <url-pattern>/regChk</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>NewCart</display-name>
    <servlet-name>NewCart</servlet-name>
    <servlet-class>NewCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewCart</servlet-name>
    <url-pattern>/NewCart</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>NewPayment</display-name>
    <servlet-name>NewPayment</servlet-name>
    <servlet-class>NewPayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPayment</servlet-name>
    <url-pattern>/NewPayment</url-pattern>
  </servlet-mapping>
 <servlet>
    <description>AQty</description>
    <display-name>AQty</display-name>
    <servlet-name>AQty</servlet-name>
    <servlet-class>AQty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AQty</servlet-name>
    <url-pattern>/AQty</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>SQty</description>
    <display-name>SQty</display-name>
    <servlet-name>SQty</servlet-name>
    <servlet-class>SQty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SQty</servlet-name>
    <url-pattern>/SQty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cart</display-name>
    <servlet-name>cart</servlet-name>
    <servlet-class>cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cart</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewCart</display-name>
    <servlet-name>viewCart</servlet-name>
    <servlet-class>viewCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewCart</servlet-name>
    <url-pattern>/viewCart</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
</web-app>